html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* HEADER SECTION */
html{
  padding: 30px;
  box-shadow: 0 0 0 30px   rgb(0,0,0) inset;
  min-height: 100vh;
}

.header{
  top: -30px;
  left: -30px;
  background-color: rgb(0, 0, 0) ;
  display: block;
  height: 25vh;
  width: 100vw;
  position: fixed;
  z-index: 20;
}
.header-logo {
  transform: translate(-50%,-50%);
  left: 55px;
  top: 55px;
  position: relative;
}

.header-nav{
  float: right;
  list-style: none;
  margin-top: 15vh;
  padding: 0;
  text-align: center;
  transform: translate(0,-50%);
}

.header-nav > li {  
  box-sizing: border-box;
  display: inline-block;
}

.header-nav button{
  background-color: rgb(3, 43, 3); 
  border-radius: 20%;
  color: white;
  display: inline-block;
  font-size: 1rem;
  height: 5em;
  line-height: 1em;
  padding: 1.75em 0;
  text-align: center;
  text-decoration: none;
  width: 5em;
  
}

.header-nav button:hover,
.header-nav button:active{
  background-color: rgb(1, 22, 1);   
}
/* MAIN SECTION */
body{
    background: #fff;
    color: #000;
    font-size: 3.5vh;
    font-family: Arial, Helvetica, sans-serif;
}





/* MAIN BOX */

.main-box{
    float: left;
    margin: 2vh auto 0;
    max-width: 960px;
    text-align: justify;
    width: 100%;
  }
  .main-box:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
  }
  .content-box{
    border: solid lightgreen;
    box-sizing: border-box;
    float: left;
    font-size: 1rem;
    margin: 2vh auto 0;
    padding: 2vw;
    width: 70vw;
  }
/* HERO  */
  .full-hero{
    background-color: #fff;
    height: 30vh;
    overflow: hidden;
  }
  .full-hero:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
  } 
/* LINKS */    
.social-links{
  float: right;
  width: 5vh;
  height: 5vh;
}

