* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* MAIN SECTION */

:root {
    /* CSS HEX */
  --indigo-dye: #2A4263ff;
  --battleship-grey: #878788ff;
  --unbleached-silk: #FEDECAff;
  --coffee: #6C4E3Aff;
  --oxford-blue: #112B4Cff;
  --color2: rgb(49, 112, 142);
  --color3: #5085a5;  
  --color4: rgb(143, 193, 227);
  --color5: rgba(236, 226, 215, 0.918);
  --btn-color: #112B4Cff;
  --background-color: rgb(224, 224, 224);
  --text-color: rgb(29, 19, 12);
  --text-color2: rgb(215, 215, 215);
  --border-color: rgb(29, 19, 12);
  --light-color: rgba(236, 226, 215, 0.918);
  --font-family: Georgia, sans-serif, Helvetica;
  --basis-font-size: 1em;
  --min-height: 120vh;
  --header-color: rgba(17, 43, 76, 0.8);
  --header-color-small: rgba(107,72,44,1);
  --header-height:  10vh;
  --header-height-phone:  15vh;
  --header-width: 100vw;
  --hero-image: url('/images/Hero-artic.jpg');
  --line-height: 1.5em;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--basis-font-size);
    font-family: var(--font-family);
    min-height: var(--min-height);
    display: flex;
    flex-direction: column;
    line-height: var(--line-height) ;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  /* text-transform: uppercase; */
  margin: 1em 0.5em 0.5em;
}

a {
  font-size: 1em;
  color: var(--text-color);
}

/* MAIN BOX */

.hero {
  /* border: 10px var(--color1) solid; */
  height: 27vh;
  background-image: var(--hero-image);
  background-size: cover;
  background-position: center;
  width: var(--header-width);
}


.main-box{
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.5em;
    flex-grow: 1;
    display: flex;
    align-items:center;
    flex-direction: column;
    padding: 5vh 5vw;
  }

.twitter-timeline {
  height: 100%;
  width: 15vw;
  overflow: hidden;
}
/* FOOTER  */
.footer{
  background-color: var(--background-color);
  border-color: var(--border-color);
  border-style: solid;
  border-width: 1px 0 1px;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 1em 0;
}

.footer-contact {
  list-style: none;
  padding: 0;
  text-align: left;
  flex-basis: 20em;
  flex-shrink: 0;
}

.footer-contact > li {
  font-size: 1em;
  line-height: 1em;
  padding: 0.2em 10px ;
}

.footer-logos {
  list-style: none;
  flex-basis: 75vw;
  padding: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  align-items: center;
  text-align: center;
}

.footer-logos > li {
  margin: 0 ;
  display: inline-block;
}
.footer-logos a {
  vertical-align: middle;
  text-align: center;
}

.footer-logos img {
  height: 90px;
  padding: 1em;
}

/* COOKIE BANNER */

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #253953ea;
  color: #f5f6fa;
  padding: 32px;
  transition: 400ms;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-container p {
  flex-grow: 1;
  color: #f5f6fa;
}

.cookie-button {
  background-color: #ea4118;
  border: 0;
  color: #f5f6fa;
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
  margin: 0 18px;
  text-align: justify;
}



/* LINKS */   

.social-nav{
  display: inline-block;
  list-style: none;
  padding: 0;
  text-align: center;
}

.social-nav > li {  
  display: inline-block;
}

.social-links{
  width: 2em;
  height: 2em;
}

/* ABOUT */
.about-page {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-text {
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  justify-content: center;
  width: 45vw;
}

.about-text > p {
  margin-bottom: 1em;
}

.about-img {
  width: 25vw;
  height: fit-content;  
} 

/* TEACHING */

.teaching-tab {
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  border-bottom-width: 1px;
  margin-bottom: 1em;
}
.teaching-uni {
  font-size: 1em;
  font-weight: bold ;
}

.teaching-tab th {
  border-color: var(--border-color);
  border-width: 1px 0 ;
  border-style: solid;
}

.teaching-tab tr {
  height: 2em;
}

.teaching-tab .tab-line {
  height: 0.5em;
}

.teaching-tab .tab-line td {
  border-color: var(--border-color);
  border-width: 0 0 1px ;
  border-style: solid;
}

 .teaching-tab .vshort {
  width: 7em
}


.teaching-tab .short {
  width: 12em;
} 

.teaching-tab .long {
  width: 24em;
}  

.teaching-tab td,
.teaching-tab th {
  padding: 0.25em 1em;
}

/* PUBLICATIONS */
.publications-page {
  flex-grow: 1;
}
.publication {
  width: 75vw;
}
.publications-page h1 {
  font-size: 2.5em;
  margin: 2em auto 1em  ;
  text-align: left;
}

.publications-page h2 {
  font-size: 2em;
  margin: 2em auto 0.5em  ;
  line-height: 1em;
  text-align: left;
}
.publications-page h3 {
  font-size: 1.5em;
  margin: auto auto 0.3em  ;
  text-align: left;
}

.publications-page h4 {
  font-size: 1em;
  font-style: italic;
  margin: auto auto 0.7em  ;
  text-align: left;
}

.publications-page p {
  font-size: 1em;
  text-align: justify;
  margin: 1em 0 1em;
}
/* EDUCATION  */

.educ-page {
  text-align: left;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 55em;
  margin: 5vh 0;
}

.container{
  flex-grow: 1;
  vertical-align:top;
  display: inline-block;
  flex-grow: 1;
  margin: 0.5em;
}

.cv-educ {
  height: 17em;
  width: 35em;
}

.cv-code {
  height: 17em;
  width: 15em;
}

.cv-lang {
  height: 17em;
  width: 15em;
}

.cv-exp {
  height: 17em;
  width: 35em;
}

.cv-list{
  list-style: none;
  line-height: 1.5em;
}

.cv-table {
  position: absolute;
  opacity: 0;
  transition: .5s ease;
  margin: 1em;
}

.cv-table .date {
  width: 30%;
}

.cv-table .info {
  width: 70%;
}

.cv-table .first {
  width: 60%;
}

.overlay {
  background-color: var(--color2);
  border: 1px var(--color3) solid;
  opacity: 1;
  position: absolute;
  text-align: center;
}

.overlay-text {
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: var(--text-color2);
  font-size: 2.5em;
  left: 50%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 1em;
}

.container:hover .overlay {
  opacity: 0;
}

.container:hover .cv-table {
  opacity: 1;
}

.cv-table tr {
  height: 1.5em;
}

/* CONTACT PAGE */

.contact-page {
  min-height: 0;
  text-align: center;
}

.contact-tab {
  border-color: var(--border-color);
  border-style: solid;
  border-width: 2px 0 2px;
  flex-basis: 20em;
  flex-grow: 1;
  margin-bottom: 1em;
}

.contact-tab tr{
  height: 1.5em;
}
/* OTHERS */

.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}



/* HEADER */

.header{
  background-color:   var(--header-color);
  color:              var(--font-color2);
  display:            flex;
  flex-direction:     row;
  justify-content:    space-between;
  align-items:        center;
  padding:            0.5em;
  position:           fixed;
  width:              var(--header-width);
  height:             var(--header-height);
  z-index:            100;
}

.header-logo {
  color:              var(--text-color2);
  font-size:          2em;
  line-height:        1em;
  text-align:         center;
  text-decoration:    none;  
}

.header-nav{
  list-style:         none;
  padding:            0;
  text-align:         left;
  width:              fit-content;
  display:            inline-block;
}

.header-nav > li {  display: inline-block; }

.header-nav a{
  display:            inline-block;
  font-size:          1em;
  line-height:        1em;
  padding:            1vh 5px 1vh;
  height:             2em;
  text-align:         center;
  text-decoration:    none;
  color:              var(--text-color2);
  border-left:        var(--border-color) 1px solid ;
}

.header-nav li:last-child { padding-right: 20px; }

/* FOOTER  */
.footer{
  background-color:   var(--background-color);
  border:             black solid 1px;
  border-width:       1px 0px;
  display:            flex;
  align-items:        center;
  flex-direction:     row;
  padding:            1em 0;
  justify-content:    space-between;
  width:              var(--inner-width);
}

.footer-section {
  flex-shrink:        1;
  flex-wrap:          wrap;
  align-items:        center;
  display:            flex;
  justify-content:    center;
}

.footer-contact {
  display:            flex;
  list-style:         none;
  text-align:         left;
  flex-direction:     column;
  flex-shrink:        0;
  justify-content:    left;
}

.footer-logos {
  list-style:         none;
  flex-direction:     row;
}

.footer-logos img {
  height:             90px;
  padding:            1em;
}

/* LINKS */   

.social-nav{
  display:            inline-block;
  list-style:         none;
  padding:            0;
  text-align:         center;
}

/* .social-nav > li {  
  display:            inline-block;
} */

.social-nav{
  margin-top: 1em;
  width:              2em;
  height:             2em;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.social-nav i { color: var(--header-color); }

/* DROPDOWN */
.hidden {display: none;}

.dropbtn {
    background-color:   var(--btn-color);
    color:              white;
    padding:            12px;
    font-size:          24px;
    border-radius:      5px;
    border:             none;
    cursor:             pointer;
    margin-right:       5vw;
}
  
.dropbtn:hover, .dropbtn:focus { background-color:   var(--btn-color);}

.dropdown {
    position:           relative;
    display:            inline-block;
}

.dropdown-content {
    display:            none;
    position:           absolute;
    background-color:   #f1f1f1;
    width:              var(--header-width);
    top:                var(--header-height-phone);
    left:               0;
    overflow:           auto;
    box-shadow:         0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:            1;
    color:              black;
}

.dropdown-content li {
    padding:            12px 16px;
    text-decoration:    none;
    display:            block;
    border:             0;
}

.dropdown li:hover {background-color: #ddd;}

.show {display: block;}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 800px) {
  .footer {
      flex-direction:     column-reverse;
  }
  .footer-section {
      margin-bottom: 1em;
      flex-basis: auto;
  }
  
  .header {
    height: var(--header-height-phone);
  }
  .social-nav { margin-top: 1em;}
  
  .header-nav a {
    color:  var(--text-color);
    border: none;
  }
  .hero {
    display: none;
  }

  .main-box {
    margin-top: var(--header-height-phone);
  }

  /* ABOUT */
  .about-page {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
  }

  .about-text {
    padding: 1em 0;
    width: 90vw;
  }

  .about-img {
    width: 90vw;
  } 

  
  .about-text {
    width: 100%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    vertical-align: top;
  }
}