html{
    margin: 0 0;
}
body{
    background: rgb(8, 56, 8);
    color: white;
    font-size: 3.5vh;
    font-style: normal;
    
}
/* LAYOUT STRUCTURE */
.main-box{
    display: inline-block;
    width: 70vw;
    text-align: justify;
    box-sizing: border-box;
}

/* PERSONAL PICTURE STYLE */
  #personal-pic{
    position: absolute;
    top: 5vh;
    right: 5%;
    width: 20%;

  }

/* HERO STYLES */
.full-hero{
    background-color: green;
    height: 25vh;
}
.social-links{
    float: right;
    position: absolute;
    width: 5vh;
}
#mySidenav {
    
    width: 20vw;
    display: inline-block;
    box-sizing: border-box;
}
#mySidenav a {
    background-color: #d9a30f;
    box-sizing: border-box;
    border-radius: 0 2.5vh 2.5vh 0; /* Rounded corners on the top right and bottom right side */
    color: white; /* White text color */
    display: block;
    font-size: 5vh; /* Increase font size */
    left: -25vh; /* Position them outside of the screen */
    padding: 2.5vh; /* 15px padding */
    position: relative ; /* Position them relative to the browser window */
    margin: 2vh 0;
    text-decoration: none; /* Remove underline */
    transition: 0.4s; /* Add transition on hover */
    width: 17.5vw; /* Set a specific width */
    height: 10vh;
  }
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* HOVER BAR LOCATIONS */
  #about {
    display: none;
  }
  #educ {
    display: none;
  }
  #research {
    display: none;
  }
  #hobbies {
    display: none;
  }
  #contact {
    display: none;
  }

