body{
    background: rgb(8, 56, 8);
    font-size: 1em;
    color: white;
    font-style: normal;
}
/* LAYOUT STRUCTURE */
.main-box{
    position: absolute;
    left: 22.5%;
    right: 27.5%;
}
.social-links{
    position: absolute;
    width: 5%;
}
#mySidenav a {
    border-radius: 0 2.5% 2.5% 0; /* Rounded corners on the top right and bottom right side */
    color: white; /* White text color */
    font-size: 20px; /* Increase font size */
    left: -15%; /* Position them outside of the screen */
    padding: 15px; /* 15px padding */
    position: absolute; /* Position them relative to the browser window */
    text-decoration: none; /* Remove underline */
    transition: 0.3s; /* Add transition on hover */
    width: 17.5%; /* Set a specific width */
    background-color: #d9a30f;
  }
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  /* HOVER BAR LOCATIONS */
  #about {
    top: 2.5%;
  }
  #educ {
    top: 15%;
  }
  #research {
    top: 27.5%;
  }
  #hobbies {
    top: 40%;
  }
  #contact {
    top: 52.5%;
  }
  /* PERSONAL PICTURE STYLE */
  #personal-pic{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 20%;

  }
