<footer class="footer" id="footer">

    <div class="footer-logos footer-section"> 
        <a href="https://www.tinbergen.nl/home"> {% include ti-logo.html %} </a></li>
        <a href="https://www.uva.nl/en"> <img src="/images/Logos/uva.png" alt="uva"> </a></li>
        <a href="https://www.creedexperiment.nl/creed/" > <img src="/images/Logos/CREED.png" alt="CREED" id='creed-logo'> </a></li>
    </div>

    <ul class="footer-contact footer-section">
        <li> (office) phone: + 31 (0)20 525 4252  </li>
        <li> mail: a.hirmas (at) uva (dot) nl </li>
        <li> address: Roetersstraat 11, Office E7.24</li>
        <li> 1001 NJ, Amsterdam</li> 
            {% include social-links.html %}
    </ul>

</footer>