<footer class="footer">

    <ul class="footer-logos"> 
        <li> <a href="https://www.tinbergen.nl/home"> {% include ti-logo.html %} </a></li>
        <li> <a href="https://www.uva.nl/en"> <img src="/images/Logos/uva.png" alt="uva"> </a></li>
        <li> <a href="https://www.creedexperiment.nl/creed/" > <img src="/images/Logos/CREED.png" alt="CREED" id='creed-logo'> </a></li>
    </ul>

    <ul class="footer-contact">
        <li> (office) phone: + 31 (0)20 525 4252  </li>
        <li> (work) mail: a.hirmas@uva.nl </li>
        <li> (personal) mail : janohirmas@gmail.com </li>
        <li> address: Roetersstraat 11, Office E7.24</li>
        <li style="text-align: right;"> 1001 NJ, Amsterdam</li>
        <li> 
            {% include social-links.html %}
        </li>
    </ul>

</footer>