<header class="header">
    <a href="/" class="header-logo"> Alejandro Hirmas </a>
    <nav>
        <button onclick="dropdownHeader()" class="dropbtn hidden" id="header-btn"> &#8801</button>
        <ul class="header-nav" id="header-nav">
            <li><a href="/" id="nav-main" class="header-link">                    About Me    </a></li>
            <li><a href="/sections/research/" id="nav-research" class="header-link">  Research    </a></li>
            <li><a href="/sections/cv/" id="nav-cv" class="header-link"> CV          </a></li>
            <li><a href="/sections/contact/" id="nav-contact" class="header-link">   Contact     </a></li>
        </ul>
    </nav>
    
    
    
</header>