<header class="header">
    <nav>
        <ul class="header-nav">
            <li><button onclick="DisplayContent('Section-About')">About Me</button></li>
            <li><button onclick="DisplayContent('Section-Educ')">Education </button></li>
            <li><button onclick="DisplayContent('Section-Research')">Research</button></li>
            <li><button onclick="DisplayContent('Section-Hobbies')">Hobbies </button></li>
            <li><button onclick="DisplayContent('Section-Contact')">Contact</button> </li>
            <li><button onclick="location.href='game.html';">Game</button>  </li>
        </ul>
    </nav>
    <a href="index.html" class="header-logo"> {% include logo.html %} </a>
</header>