<header class="header">
    <a href="index.html" class="header-logo"> Alejandro Hirmas </a>
    <nav >
        <button onclick="dropdownHeader()" class="dropbtn" id="header-btn"> &#8801</button>
        <ul class="header-nav" id="header-nav">
            <li><a href="/">                    About Me    </a></li>
            <li><a href="/sections/research/">  Research    </a></li>
            <li><a href="/sections/cv/"> CV          </a></li>
            <li><a href="/sections/contact/">   Contact     </a></li>
        </ul>
    </nav>
    
    
    
</header>