<ul  class="social-nav">
    <li>
        <a href="https://github.com/janohirmas">
            <img src="images/Logos/github-icon.svg" alt="" class="social-links">
        </a>
    </li>
    <li>
        <a href="https://scholar.google.nl/citations?user=qna3bQIAAAAJ&hl=en&oi=ao">
            <img src="images/Logos/scholar.png" alt="" class="social-links">
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/janohirmas">
            <img src="images/Logos/instagram.svg" alt="" class="social-links">
        </a>
    </li>
</ul>