<ul  class="social-nav">
    <li>
        <a href="https://github.com/janohirmas">
            <i class="fab fa-github fa-2x"></i>
        </a>
    </li>
    <li>
        <a href="https://scholar.google.nl/citations?user=qna3bQIAAAAJ&hl=en&oi=ao">
            <i class="ai ai-google-scholar ai-2x"></i>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/janohirmas">
            <!-- <img src="images/Logos/instagram.svg" alt="" class="social-links"> -->
            <i class="fab fa-instagram fa-2x"></i>
        </a>
    </li>
</ul>