---
layout: default
title: Research
navId: research
---

<div class="publications-page">

    <h1> Job Market Paper </h1>

    {% for pub in site.categories.jmp %}
        <div class="publication">
            <h2> {{ pub.title }} </h2>
            <h3> {{ pub.subtitle }} </h3>
            <h4> {{ pub.authors }} </h4>
            {% if pub.JEL %}
            <p class="status">  {{ pub.status }} </p>
            {% endif %}
            <p> {{ pub.content }} </p>
            {% if pub.keywords %}
            <p> <b>Keywords:</b> {{ pub.keywords }} </p>
            {% endif %}
            {% if pub.JEL %}
            <p> <b>JEL Classifications:</b> {{ pub.JEL }} </p>
            {% endif %}
            <p> <a href= '{{ pub.doi }}' > Go to latest presentation </a></p>
        </div>
    {% endfor %}

    <h1> Working Papers </h1>

    {% for pub in site.categories.working-papers %}
        <div class="publication">
            <h2> {{ pub.title }} </h2>
            <h3> {{ pub.subtitle }} </h3>
            <h4> {{ pub.authors }} </h4>
            {% if pub.status %}
            <p class="status">  {{ pub.status }} </p>
            {% endif %}
            <p> {{ pub.content }} </p>
            {% if pub.keywords %}
            <p> <b>Keywords:</b> {{ pub.keywords }} </p>
            {% endif %}
            {% if pub.JEL %}
            <p> <b>JEL Classifications:</b> {{ pub.JEL }} </p>
            {% endif %}
            <p> <a href= '{{ pub.doi }}' >Go to Article</a></p>
        </div>
    {% endfor %}

    
    <h1> Current Projects </h1>

    {% for pub in site.categories.projects %}
        <div class="publication">
            <h2> {{ pub.title }} </h2>
            <h3> {{ pub.subtitle }} </h3>
            <h4> {{ pub.authors }} </h4>
            {% if pub.JEL %}
            <p class="status">  {{ pub.status }} </p>
            {% endif %}
            <p> {{ pub.content }} </p>
            {% if pub.keywords %}
            <p> <b>Keywords:</b> {{ pub.keywords }} </p>
            {% endif %}
            {% if pub.JEL %}
            <p> <b>JEL Classifications:</b> {{ pub.JEL }} </p>
            {% endif %}
        </div>
    {% endfor %}

    <!-- <h1> Published Work </h1>

    {% for pub in site.categories.published %}
        <div class="publication">
            <h2> {{ pub.title }} </h2>
            <h3> {{ pub.subtitle }} </h3>
            <h4> {{ pub.authors }} </h4>
            <p> {{ pub.content }} </p>
            {% if pub.keywords %}
            <p> <b>Keywords:</b> {{ pub.keywords }} </p>
            {% endif %}
            {% if pub.JEL %}
            <p> <b>JEL Classifications:</b> {{ pub.JEL }} </p>
            {% endif %}
            <p> <a href= '{{ pub.doi }}' >Go to Article</a></p>
        </div>
    {% endfor %} -->
</div>